@*@QnSBaseCode*@
@using Microsoft.AspNetCore.Mvc.Razor
@using Microsoft.AspNetCore.Mvc.Rendering
@using QuickNSmart.AspMvc.Modules.Session
@using QuickNSmart.AspMvc.Models.Modules.Account
@*Begin:Header*@
@{
#if DEBUG
	string currentView = ((RazorView)ViewContext.View).Path;
	string beginLabel = $"<!--View Begin: '{currentView}'-->";
	@Html.Raw(beginLabel)
#endif
	SessionWrapper sessionWrapper = new SessionWrapper(Context.Session);
	Func<string, string> translate = sessionWrapper.Translate;
}
@*End:Header*@

@{
	string title = translate("Confirmation Reset Password");
	string subTitle = translate("Confirmation Password Form");
	string text = translate("The password has been reseted successfully!");
}

<h2>@title</h2>
<h4>@subTitle</h4>
<hr />

<div class="alert alert-success" role="alert">
	@text
</div>

@*Begin:Footer*@
@{
#if DEBUG
	string endLabel = $"<!--View Ende: '{currentView}'-->";

	@Html.Raw(endLabel)
#endif
}
@*End:Footer*@
